# Database Admin - Starter
This is the beggining of the database admin realm. We'll learn how to create and alter an existing database. 

# Objectives
- Create a SQL database 
- Create a SQL table 
- Create rows in a SQL table 
- Alter entries 
- Delete entries 
- Commit changes using SQLite3

## Working Directory - Previewing Files
In bash, you can use `ls` command to preview files and folders in the current working directory.

In [5]:
ls

Data_admin_101.ipynb  README.md

## Creating a Database
Creating a database is as easy as connecting a database to a non-existing database.

In [6]:
import sqlite3

conn = sqlite3.connect('pets.db')
c = conn.cursor()

## Repreview your Files 
Use the `ls` command again. You should see you newly created database there.

In [7]:
ls

Data_admin_101.ipynb  README.md             pets.db

## Creating Tables 
Remember we use our cursor to execute our SQL statments and statements must be wrapped in quotes ('''SQL statement here''')

In [8]:
# creating table called "cats"
c.execute('''CREATE TABLE cats (
                                id INTEGER PRIMARY KEY, 
                                name TEXT,
                                age INTEGER,
                                breed TEXT)
            ''')

## Populating Tables 
- `INSERT INTO` command to populate a table
- followed by `VALUES` keyword accompanied by a parentheses with values enclosed that correspond to each column name. 

Important: You don't have to specify the "id" column name or value because the `PRIMARY KEY` columns are auto-incrementing. An id will automatically generate once you input new data.

## `INSERT INTO`

In [9]:
c.execute('''INSERT INTO cats (name, age, breed)
            VALUES ('Hodor', 4, 'Russian Blue');
        ''')

## Altering a Table 
You can updat a table using this general patter: 
`ALTER TABLE table_name ADD COLUMN column_name column_type;`

## Updating data
The `UPDATE` keyword is used to change prexisting rows within a table. 

A boilerplate `UPDATE` statement looks like below:

In [ ]:
c.execute('''UPDATE [table_name]
            SET [column_name] = [new_value]
            WHERE [column_name] = [value]
        ''')

### Example:

In [10]:
c.execute('''UPDATE cats
            SET name = 'Hana'
            WHERE name = 'Hannah';
        ''')

## Deleting Data
A boiler plate of a `DELETE` statement looks like this:

In [ ]:
c.execute('''DELETE FROM [table_name] WHERE [column_name] = [value];''')

In [11]:
c.execute('''DELETE FROM cats WHERE id = 2;''')

## Saving Changes
Changes need to be saved if you are planning to connect the database from another jupyter notebook. You have to commit changes to the master database so that other users and connections can also view the updates.

In [12]:
# preview the table 
c.execute('''SELECT * FROM cats;''').fetchall()

[(1, 'Hodor', 4, 'Russian Blue')]

To demonstrate these changes aren't reflected to other connections, create a secon connection/cursor anr try it out.

In [14]:
#Preview the table via a second current cursor/connection 
#Don't overwrite the previous connection: you'll lose all of your work!
conn2 = sqlite3.connect('pets.db')
cur2 = conn2.cursor()
cur2.execute("""SELECT * FROM cats;""").fetchall()

[]

The second connection doesn't dipslay the data or even read the `cats` table we created. To make changes universally accessible, you must commit the changes. 

`conn.commit()`

In [15]:
# commit changes to the master database 
conn.commit()

Now, try to reload the second connection. The updates should populate the table.

In [16]:
#Preview the table via a reloaded second current cursor/connection 
conn2 = sqlite3.connect('pets.db')
cur2 = conn2.cursor()
cur2.execute("""SELECT * FROM cats;""").fetchall()

[(1, 'Hodor', 4, 'Russian Blue')]

Voila! You've created, edited and deleted tables and databases using SQL!